.webapp {
    display: flexbox;
    text-align: center;
}

.main-image {
    width: auto;
    height: auto;
}

.thumbnails-container{
    display: inline-flex;    
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail {
    width: 128px;
    height: 128px;
}